:root {
  --devil: #1f1d2b;
  --dark: #252836;
  --angle: #f3f3f8;
  --gray: #e0e0e0;
  --neutral: #797979;
  --light: #FFFFFF;
  --violets: #525298;
  --orange: #ff8702;
  --ocean: #08a0f7;
  --flamingo: #ae46bf;
  --leaf: #22b07d;
  --sky: #13cdd9;
  --lemon: #ffbf47;
  --tomato: #E05A67;
}